<nav class="navbar">
  <div>
    <a class="navItem" href="/contractor/addlabour">Add labours</a>
    <a class="navItem" href="/contractor/clientrequests">Client requests</a>
    <a href="/logout" class="navItem">Logout</a>
  </div>
</nav>