<nav class="navbar">
  <div>
    <a class="navItem" href="/shop/labours">Labours</a>
    <a class="navItem" href="/shop/contractors">contractors</a>
    <a class="navItem" href="/shop/addToCart">Requests</a>
    <a href="/logout" class="navItem">Logout</a>
  </div>
  <div class="cart">
   <a href="#"><img src="/assets/greencart.png" alt="cart"></a>
  </div>
</nav>