<div class="productsList">
    {{#each this.products as |product|}}
    <div class="productItem">
        <div class="productItem-img-container">
            <img src="{{product.imageUrl}}"><br>
        </div>
        <div class="productItem-info-wrapper">
            <div class="productItem-info">
                <div class="name">Name:-{{product.Labour_name}}</div>
                <div class="price">Wages:-${{product.Labour_wages}}</div>
                <div class="description">{{product.Labour_profession}}</div>
            </div>
            <div class="productItem-action">
                <button>buy</button>
                <button>Add to cart</button>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<script src="/scripts/addtocart.js"></script>